{%- assign free_shipping_threshold = 5000 -%} {%- comment -%} Set your threshold in cents (e.g., $50 = 5000) {%- endcomment -%}
{%- assign cart_total = cart.total_price -%}
{%- assign threshold_minus_cart = free_shipping_threshold | minus: cart_total -%}

{%- if threshold_minus_cart > 0 -%}
  <div class="free-shipping-threshold" style="padding: 10px; text-align: center;">
    Spend {{ threshold_minus_cart | money_without_trailing_zeros }} more to get free shipping!
  </div>
{%- else -%}
  <div class="free-shipping-threshold" style="padding: 10px; text-align: center;">
    You have free shipping!
  </div>
{%- endif -%}